body{
	background-color: #edc5c5
}

h3{
	font-family: "Courier New";
	font-size: 18px;
	margin-left: 550px;
	margin-bottom: 0px;
	line-height: 5px;
}

h1{
	font-family: "Courier New";
	font-size: 25px;
	margin-left: 550px;
}
p {
	font-family: "Courier New";
	font-size: 16px;
	text-align: justify;
	margin-left: 550px;
	margin-right: 550px;
}