/*
++++++++++++++++++++++++++++++
          CSS RESET
++++++++++++++++++++++++++++++
*//*creates a baseline stylesheet to reduce browser inconsistencies*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End of CSS RESET*/

/*
++++++++++++++++++++++++++++++
          Variables
++++++++++++++++++++++++++++++
*/
:root {
    /*Colors*/
    --lighter-navy: #C2C5D6;
    --faded-navy: #858BAC;
    --navy: #545871;
    --light-gray: #EFEDED;
    --gray: #C1C3CC;
    --blush: #D9C4C4;
    --light-mocha: #BFA8A8;
    --mid-mocha: #AC9595;
    --mocha: #907575;
    --dark-mocha: #715B5B;
    --burnt-mocha: #573F3F;
    --error-red: #E23333;
    --success-green: #46A73E;

    /*Sizing*/
    --input-field-pad: 5px 15px;
    --dashRowNum: 3;
    --dashColNum: 4;
}

/*
++++++++++++++++++++++++++++++
            Grid
++++++++++++++++++++++++++++++
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
}

.grid:before,
.grid:after {
    display: inline-block;
}

.grid {
    text-align: left;
    width: 75%;
    padding: 10px;
    float: left;
}

.header-bar {
    height: 60px;
    width: 100vw;
    padding: 2px;
    display: inline-block;
}

.column-1-fourth {
    height: 150px;
    width: 22%;
    padding: 5px 10px;
    margin: 5px 10px;
    vertical-align: top;
    background-color: white;
    border: solid 1px var(--lighter-navy);
    display: inline-block;
    cursor: pointer;
}

.column-1-fourth:hover {
    background-color: var(--lighter-navy);
}

.center-element {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.horizontal-line {
    border-bottom: solid var(--lighter-navy) 1px;
    clear: both;
}

.hl-spacing {
    display: inline-block;
}

.clear-floats {
    clear: both;
}

.spacer {
    margin-bottom: 10px;
}

.spacer-top {
    margin-top: 10px;
}
.remove-pad {
    padding: 0;
}

/*
++++++++++++++++++++++++++++++
          Elements
++++++++++++++++++++++++++++++
*/
body {
    font: bold 12px/15px Henriette, Arial;
    color: var(--navy);
    background-color: white;
}

a {
    color: var(--navy);
    text-decoration: none;
}

a:hover {
    color: var(--gray);
}

ul {
    list-style-type: none;
    text-align: center;
}

thead {
    background-color: var(--light-mocha);
}

td {
    cursor: pointer;
}

::placeholder {
    font-size: 18px;
    color: var(--light-gray);
}

/*
++++++++++++++++++++++++++++++
            Menu
++++++++++++++++++++++++++++++
*/

.main-nav {
    height: 100vh;
    background-color: var(--light-gray);
    display: none;
}

.logout {
    font-size: 20px;
    padding-right: 1em;
    margin-top: 7em;
    border-bottom: none;
    float: right;
}

.menu {
    width: 40%;
    padding: 25px;
    display: inline-block;
    position: relative;
    top: 50px;
    right: 20px;
    float: right;
}

.menu-item {
    padding: 30px 100px;
    margin: 5px;
    font-size: 45px;
    color: var(--navy);
    display: inline-block;
}

.creator-container {
    margin-top: 40px;
    float: left;
}

.creator-box {
    height: 700px;
    width: 35%;
    padding: 25px;
    margin: 30px 0 0 200px;
    display: inline-block;
    float: left;
}

.creator-box__title {
    padding: 5px;
}

.creators-info {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.creators-icon {
    height: 175px;
    width: 175px;
    margin: 5px;
    display: inline-block;
}

.creators-intro {
    font-size: 14px;
    text-align: left;
    width: 250px;
    height: auto;
    margin-top: 30px;
    margin-left: 10px;
    padding: 5px;
    float: right;
}

.show-menu {
    display: block;
}

/*
++++++++++++++++++++++++++++++
          Dashboard
++++++++++++++++++++++++++++++
*/
.dash-header {
    height: 50%;
    width: 75vw;
    padding: 5px;
    display: inline-block;
}

.post-tile__filter {
    padding: 0 30px;
    margin: 30px 5%;
    display: inline-block;
    float: left;
}

.filter-option {
    font-size: 12px;
    color: var(--faded-navy);
    text-align: center;
    height: 25px;
    width: 120px;
    margin: 5px 10px;
    border: solid var(--navy) 0.5px;
    border-radius: 30px;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

.filter-option:hover {
    color: var(--lighter-navy);
    border-color: var(--lighter-navy);
}

.close-bttn {
    padding-top: 2px;
    padding-left: 5px;
    float: left;
}

.create-post__outer {
    height: 50px;
    width: 200px;
    margin-bottom: 40px;
    border: solid var(--navy) 0.5px;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 6px 6px 10px var(--lighter-navy);
}

.create-post__inner {
    height: 46px;
    width: 196px;
    margin: 1px 1.5px;
    border: solid var(--lighter-navy) 0.5px;
    border-radius: 50px;
    display: inline-block;
}

.create-post {
    font-size: 30px;
    color: var(--navy);
    margin: 15px 20px;
    display: inline-block;
}

.advice-col-container {
    height: auto;
    width: 20%;
    padding: 5px;
    position: relative;
    bottom: 90px;
    display: inline-block;
    float: right;
}

.advice-col-box {
    height: 100px;
    width: 100%;
    margin-top: -1px; 
    border: solid 1px var(--lighter-navy);;
}

.post-tile__status {
    height: 20px;
    width: 100px;
    padding-top: 5px;
    display: inline-block; 
    float: left;
}

.post-tile__body {
    text-align: left;
    height: 85px;
    padding: 5px;
    display: inline-block;
}

.post-tile__date {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.post-tile__watching {
    margin-right: 5px;
    float: right;
}

.dash-post-container {
    height: auto;
    width: 95%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
    display: inline-block;
}



.l-arrow {
    border: none;
    background: none;
    padding-top: 2px;
    padding-right: 12px;
    float: left;
    cursor: pointer;
}





.r-arrow {
    border: none;
    background: none;
    padding-top: 3px;
    padding-left: 12px;
    float: right;
    cursor: pointer;
}

.arrow-size {
    height: 25px;
    width: 15px;
}





.advice-icon {
    float: left;
    margin: 7px;
}

.advice-col-body {
    font-size: 13px;
    line-height: 13px;
    text-align: left;
    height: 75px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.advice-col__date {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 20px;
    float: left;
}

.advice-col__comments {
    font-size: 10px;
    margin-right: 20px;
    float: right;
}

.comment-icon {
    margin-left: 5px;
}

.page-num-container {
    font-size: 18px;
    color: var(--light-gray);
    text-align: center;
    height: 35px;
    width: 30px;
    border: solid 1px var(--faded-navy);
    background-color: white;
    cursor: not-allowed;
}

/*
++++++++++++++++++++++++++++++
        Buttons/Forms
++++++++++++++++++++++++++++++
*/
.search-bar {
    height: 40px;
    width: 300px;
    padding: 5px;
    margin: 10px;
    position: relative;
    float: right;
}

.search-icon {
    width: 11%;
    height: 75%;
    position: absolute;
}

.search {
    color: var(--navy);
    height: 100%;
    width: 100%;
    padding-left: 35px;
    border: solid var(--faded-navy) 1px;
    border-radius: 20px;
}

.search::placeholder {
    color: var(--faded-navy);
    opacity: 0.5;
}

.search:focus {
    box-shadow: 6px 6px 7px var(--lighter-navy);
}

button {
    font-family: Henriette;
    font-size: 16px;
}

button:hover {
    color: var(--light-gray);
}

input {
    font-family: Henriette;
    font-size: 14px;  
    color: var(--navy);
}

.logo {
    color: var(--navy);
}

.user-avatar {
    
    display: inline-block;
    float: right;
}


.menu-bttn {
    height: auto;
    width: 50px;
    padding: 10px;
    margin: 10px 35px;
    position: relative;
    display: inline-block;
    float: right;
    cursor: pointer;
}

.login-bttn {
    font-size: 18px;
    height: 30px;
    width: 80px;
    margin-bottom: 20px;
    border: solid var(--faded-navy) 1px;
    border-radius: 20px;
    cursor: pointer;
}

.submit-bttn {
    font-size: 18px;
    height: 30px;
    width: 125px;
    margin-top: 10px;
    border: solid var(--faded-navy) 1px;
    background-color: white;
    float: right;
    cursor: pointer;
}

.post-type-bttn {
    text-transform: uppercase;
    height: 35px;
    width: 125px;
    margin: 10px;
    border: solid var(--faded-navy) 1px;
    background-color: white;
    float: right;
}

.inactive-bttn {
    background-color: var(--lighter-navy);
    opacity: 0.2;
}

/*
++++++++++++++++++++++++++++++
            Login
++++++++++++++++++++++++++++++
*/
.login-redirect {
    font-size: 25px;
    color: var(--navy);
    padding: 5px;
    margin: 20px 15px;
    float: right;
}

.login-box--large {
    height: 375px;
    width: 360px;
    padding: 20px;
    margin-top: 100px;
    border: solid var(--faded-navy) 0.5px;
    display: inline-block;
}

.login-box--small {
    height: 335px;
    width: 360px;
    padding: 20px;
    margin-top: 100px;
    border: solid var(--faded-navy) 0.5px;
    display: inline-block;
}

.cred-label__align {
    display: inline-block;
}

.cred-label__user {
    font-size: 16px;
    padding: 1px;
    background-color: white;
    position: relative;
    top: 10px;
    right: 50px;
}

.cred-label__email {
    font-size: 16px;
    padding: 1px;
    background-color: white;
    position: relative;
    top: 10px;
    right: 65px;
}

.cred-label__pass {
    font-size: 16px;
    padding: 1px;
    background-color: white;
    position: relative;
    top: 10px;
    right: 55px;
}

.cred-field {
    height: 35px;
    width: 220px;
    margin: 0 45px 5px 45px;
    padding: 10px 10px 5px 20px;
    border: solid var(--faded-navy) 1px;
    border-radius: 20px;
}

.login-message {
    font-size: 40px;
    line-height: 35px;
    text-align: center;
    padding: 10px;
}

.stay-logged-in {
    margin-bottom: 10px;
    display: inline-block;
    
}

.login-action {
    margin-top: 40px;
}

.have-account {
    font-size: 16px;
    padding: 5px;
}

.no-account {
    margin-top: -30px;
}

/*
++++++++++++++++++++++++++++++
             FAQ
++++++++++++++++++++++++++++++
*/

.faq-title {
    font-size: 50px;
    padding: 5px;
    margin: 50px;
    display: inline-block;
}

.faq-container {
    height: auto;
    width: 1200px;
    padding: 5px;
    margin-left: 10%;
}

.faq-a {
    font-size: 16px;
    text-align: left;
    width: 1100px;
    padding: 20px;
    display: inline-block;
    float: left;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion {
    font-size: 35px;
    text-align: left;
    color: var(--navy);
    border: none;
    background-color: white;
    cursor: crosshair;
}

.accordion:after {
    content: '+';
    font-size: 35px;
    color: var(--navy);
    margin-left: 630px;
}

.active:after {
    content: '-';
    font-size: 35px;
    color: var(--lighter-navy);
    margin-left: 950px;
}

.accordion:hover {
    color: var(--gray);
}

.faq-q {
    text-align: left;
    width: 1150px;
    display: inline-block;
    float: left;
}

.panel {
    font-size: 28px;
    line-height: 30px;
    color: var(--faded-navy);
}

/*
++++++++++++++++++++++++++++++
            Admin
++++++++++++++++++++++++++++++
*/
.admin__search::placeholder {
    color: var(--mocha);
    opacity: 0.5;
}

.admin__search:focus {
    border-color: var(--burnt-mocha);
    box-shadow: 6px 6px 7px var(--mocha);
}

.admin-page-num {
    font-size: 18px;
    text-align: center;
    color: var(--burnt-mocha);
    height: 35px;
    width: 30px;
    margin-top: 30px;
    border: solid 1px var(--mocha);
    background-color: var(--light-mocha);
    box-shadow: 6px 6px 10px var(--mocha);
}

.admin-page-num::placeholder {
    color: var(--mocha);
}

/*
++++++++++++++++++++++++++++++
        Admin: Login
++++++++++++++++++++++++++++++
*/
.admin-main-nav {
    height: 100vh;
    background-color: var(--blush);
    display: none;
}

.admin-body {
    background-color: var(--light-mocha);
}

.admin__search {
    color: var(--burnt-mocha);
    height: 30px;
    width: 275px;
    border: solid var(--mid-mocha) 1px;
    background-color: var(--light-mocha);
    border-radius: 30px;
    padding: 5px 5px 5px 30px;
}

.admin__cred-label__email {
    font-size: 16px;
    color: var(--dark-mocha);
    padding: 1px;
    background-color: var(--light-mocha);
    position: relative;
    top: 10px;
    right: 65px;
}


.admin__cred-field {
    height: 35px;
    width: 220px;
    margin: 0 45px 5px 45px;
    padding: 10px 10px 5px 20px;
    border: solid var(--mid-mocha) 1px;
    border-radius: 20px;
    background-color: var(--light-mocha);
}

.admin__cred-label__pass {
    font-size: 16px;
    color: var(--dark-mocha);
    padding: 1px;
    background-color: var(--light-mocha);
    position: relative;
    top: 10px;
    right: 55px;
}

.admin__login-message {
    font-size: 40px;
    color: var(--dark-mocha);
    line-height: 35px;
    padding: 10px;
    text-align: center;
}

.admin__horizontal-line {
    border-bottom: solid var(--mocha) 1px;
    clear: both;
}
.admin__login-redirect {
    font-size: 25px;
    color: var(--burnt-mocha);
    padding: 5px;
    margin: 20px 15px;
    float: right;
}

.admin__login-bttn {
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-mocha);
    margin-bottom: 20px;
    height: 30px;
    width: 80px;
    border: solid var(--mocha) 1px;
    border-radius: 20px;
    background-color: var(--light-mocha);
    cursor: pointer;
}

.admin-logout {
    font-size: 20px;
    color: var(--mocha);
    padding-right: 1em;
    margin-top: 300px;
    border-bottom: none;
    float: right;
}

/*
++++++++++++++++++++++++++++++
        Admin: Table
++++++++++++++++++++++++++++++
*/
.admin__menu-item {
    font-size: 45px;
    color: var(--burnt-mocha);
    padding: 30px 100px;
    margin: 5px;
    display: inline-block;
}

.admin__main-nav {
    background-color: var(--light-mocha);
    height: 100vh;
    z-index: 1;
    overflow-x: hidden;
    display: none;
    transition: 0.8s;
}
#table-container {
    border-color: var(--brunt-mocha);
    margin-top: 40px;
}

th,
tr,
td {
    border: solid 1px var(--mocha);
}

#post-table {
    color: var(--burnt-mocha);
    width: 1100px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
}

.post-col__small {
    font-size: 16px;
    text-align: center;
    height: 25px;
    width: 100px;
}

.post-col__medium {
    font-size: 16px;
    text-align: center;
    height: 25px;
    width: 150px;
}

.post-col__large {
    font-size: 16px;
    text-align: center;
    height: 25px;
    width: 650px;
}

/*
++++++++++++++++++++++++++++++
         Create Post
++++++++++++++++++++++++++++++
*/
.post-type-sel {
    margin-right: 20px;
    display: inline-block;
    float: right;
}

.post-container--cp {
    height: auto;
    width: 40%;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
}

.post-field-label {
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
    float: right;
}

.post-field-container__large {
    height: 90px;
    width: 350px;
    padding: 5px;
    margin-bottom: 10px;
}

.post-field-container__medium {
    height: 40px;
    width: 37%;
    padding: 5px 0;
    margin-bottom: 5px;
}

.post-field-container__small {
    height: 50px;
    width: 70%;
    padding: 5px;
    margin-bottom: 10px;
}

.post-field {
    height: 35px;
    width: 250px;
    padding: var(--input-field-pad);
    margin-bottom: 10px;
    border: solid var(--faded-navy) 1px;
    border-radius: 20px;
    display: inline-block;
    float: left;
}

.advice-header {
    font-size: 30px;
    margin-bottom: 20px;
    float: left;
}

.post-content--issue {
    height: 400px;
    border: solid var(--faded-navy) 1px;
    display: inline-block;
}

.post-content--advice {
    height: 200px;
    width: 555px;
    border: solid var(--faded-navy) 1px;
    display: inline-block;
}

textarea {
    font: 16px/22px Henriette;
    color:#545871;
    padding: 10px;
    resize: none;
}

.anonymous {
    margin-left: 430px;
}

/*
++++++++++++++++++++++++++++++
           Support
++++++++++++++++++++++++++++++
*/
.support-header {
    font-size: 16px;
    color: var(--faded-navy);
    height: 25px;
    width: 500px;
    padding: 5px;
    margin-bottom: 20px;
    border: solid var(--light-gray) 1px;
    border-radius: 25px;
    background-color: var(--lighter-navy);
}

.post-container {
    height: auto;
    width: 525px;
    padding: 10px;
    margin-top: 60px;
    display: inline-block;
}

.post-content--support {
    height: 400px;
    width: 500px;
    border: solid var(--faded-navy) 1px;
    display: inline-block;
}

.tooltip {
    border-bottom: dotted var(--navy) 2px;
    position: relative;
    cursor: help;
}

.tooltip .tooltip-text{
    font-size: 12px;
    text-align: center;
    color: var(--faded-navy);
    width: 160px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--light-gray);
    position: absolute;
    bottom: 0px;
    left: 80px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity:1;
}

.tooltip .tooltip-text__far {
    font-size: 12px;
    text-align: center;
    color: var(--faded-navy);
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--light-gray);
    position: absolute;
    top: -30px;
    left: 120px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s;
}

.tooltip:hover .tooltip-text__far {
    visibility: visible;
    opacity: 1;
    
}

.login {
    color: var(--faded-navy);
}

/*
++++++++++++++++++++++++++++++
        Calendar/Event
++++++++++++++++++++++++++++++
*/
.calendar {
    margin-top: 60px;
}

.current-month {
    font-size: 22px;
    text-align: right;
    padding-bottom: 10px;
    margin-top: -10px;
}

.calendar-month__large {
    font-size: 38px;
    text-align: left;
    padding-bottom: 30px;
}

.calendar-container {
    width: 900px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0 auto;
}

.calendar-col {
    font-size: 18px;
    text-align: right;
    height: 15px;
    width: 100px;
}

.calendar-col__large {
    font-size: 26px;
    text-align: right;
    height: 30px;
    width: 125px;
    padding: 10px;
}

.calendar-rows {
    font-size: 15px;
    text-align: right;
    height: 50px;
}

.calendar-rows__large {
    font-size: 18px;
    text-align: right;
    height: 100px;
}

.calendar-cell {
    padding: 7px;
}

.calendar-cell-row {
    padding: 7px;
}

.calendar-cell-row:hover {
    background-color: var(--lighter-navy);
}

.calendar-content {
    padding: 0;
    margin-top: 15px;
}

.post-content--event {
    border: solid var(--faded-navy) 1px;
    margin-top: 30px;
    display: inline-block;
}

.time-sel-label {
    font-size: 18px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
    float: left;
    cursor: pointer;
}

.time-sel {
    text-align: center;
    height: 35px;
    width: 135px;
    padding: var(--input-field-pad);
    margin-bottom: 10px;
    border: solid var(--faded-navy) 1px;
    border-radius: 20px;
    display: inline-block;
    float: left;
}

/*
++++++++++++++++++++++++++++++
        My Account
++++++++++++++++++++++++++++++
*/
.account-area {
    height: auto;
    width: 70%;
    padding: 5px;
    margin-top: 50px;
    margin-left: 100px;
}

.user-info {
    height: auto;
    width: 260px;
    padding: 5px;
    display: inline-block;
}

.account-user {
    font-size: 20px;
    text-align: center;
    height: 30px;
    width: 250px;
    border: solid var(--faded-navy) 1px;
    border-radius: 20px;
    padding: var(--input-field-pad);
    margin-bottom: 10px;
    float: left;
    display: inline-block;
}

.avatar {
    height: 250px;
    width: 250px;
    border: solid var(--faded-navy) 1px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.aside {
    float: right;
}

.account-main {
    height: auto;
    width: 580px;
    padding: 5px;
    margin-left: 50px;
    float: right;
    cursor: default;
}

.account-subfield {
    height: 70px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.account-field-label{
    font-size: 25px;
    line-height: 22px;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
    float: left;
}

.account-field {
    font-size: 18px;
    text-align: center;
    height: 35px;
    width: 350px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 45px;
    border: solid var(--lighter-navy) 1px;
    border-radius: 20px;
    background-color: var(--lighter-navy);
    float: right;
    display: inline-block;
    box-shadow: 3px 3px 10px var(--lighter-navy);
}

.notification-pref-opts {
    font-size: 14px;
}

/*
++++++++++++++++++++++++++++++
        View Posts
++++++++++++++++++++++++++++++
*/

/* Issues */
.user-container {
    height: auto;
    width: 10%;
    margin-top: 75px;
    margin-left: 75px;
    display: inline-block;
    float: left;
}

.icon {
    width: 70%; 
    float: left;
}

.main-post-container {
    height: auto;
    width: 50%;
    margin-top: 30px;
    display: inline-block;
    float: left;
}

.status-line {
    margin-top: 5px;
    display: inline-block;
    float: left;
}

.tile-block {
    font-size: 35px;
    line-height: 35px;
    text-align: left;
    height: 100px;
    width: 100%;
    margin-top: 15px;
    display: inline-block;
    float: left;
}

.scroll-container {
    height: 370px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.scroll-area {
    height: 100%;
    width: 85%;
    position: relative;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

.post-content {
    font-size: 25px;
    line-height: 28px;
    text-align: justify;
    color: var(--faded-navy);
    display: inline-block;
}

.scrollbar-track {
    height: 100%;
    width: 30px;
    border: solid 1px var(--navy);
    display: inline-block;
    float: right;
}

.scrollbar-thumb {
    height: 100px;
    width: 30px;
    margin-top: -5px;
    margin-left: -1px;
    background-color: var(--faded-navy);
}

.down-arrow {
    width: 30px;
    margin-top: -1px;
    margin-left: -1px;
}

.up-arrow {
    width: 30px;
    margin-left: -1px;
    position: relative;
    top: 220px;
}




.scroll-area::-webkit-scrollbar {
    display: none;
}

.indicators {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
    display: inline-block;
}

.post-date {
    font-size: 20px;
    margin-left: 20px;
    float: left;
}

.post-watch {
    width: 30px;
    margin-top: -7px;
    margin-left: 20px;
    float: left;
}

.post-flag {
    width: 35px;
    margin-top: -7px;
    margin-right: 20px;
    float: right;
}

.comment-container {
    height: 550px;
    width: 20%;
    margin-top: 100px;
    margin-right: 70px;
    float: right;
}

.comment-box {
    height: 80px;
    width: 100%;
    margin-top: -1px;
    border: solid 1px var(--faded-navy);
}

.post-comment {
    height: 40px;
    width: 100%;
    padding-left: 50px;
    margin-bottom: 10px;
    border: solid 1px var(--faded-navy);
    border-radius: 20px;
}

.comment-header {
    font-size: 22px;
    text-align: left;
    padding: 5px;
    margin-bottom: 5px;
}

.comment-user-icon {
    position: relative;
    left: 10px;
    bottom: 45px;
    float: left;
}

.comment-content {
    font-size: 14px;
    text-align: left;
    margin: 5px 5px 0 10px;
}

.comment-date {
    font-size: 12px;
    color: var(--faded-navy);
    margin-right: 10px;
    float: right;
}



.post-comment:focus {
    box-shadow: 6px 6px 10px var(--lighter-navy);
}



.post-tile__header {
    height: 30px;
}

.comment-container__large {
    height: 550px;
    width: 90%;
}

.content-contain {
    height: 30px;
}

.post-header {
    height: 160px;
    width: 100%;
    display: inline-block;
}

.advice-post-indicator {
    width: 60px;
    margin-right: 15px;
    float: left;
}

#post-cell {
    height: 20px;
}





#post-row {
    height: 25px;
}

.post-row {
    height: 30px;
}

.status-cell {
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

.content-cell {
    text-align: center;
    vertical-align: middle;
}





th.post-col__small {
    background-color: var(--mocha);
}

th.post-col__medium {
    background-color: var(--mocha);
}

th.post-col__large {
        background-color: var(--mocha);
}

th.calendar-col {
    background-color: white;
}















.page-num-container::placeholder {
    color: var(--faded-navy);
}



.comment-content__small {
    font-size: 12px;
    text-align: left;
    margin: 0 5px 0 10px;
}

.comment-user {
    font-size: 12px;
    text-align: left;
    margin: 5px 5px 0 10px; 
}

.comment-box__small {
    height: 100px;
    width: 100%;
    margin-top: -1px;
    border: solid 1px var(--faded-navy);
}


input[type=checkbox] {
    margin-left: 20px;
    margin-bottom: 10px;
}

.dropdown {
    font-family: Henriette;
    font-size: 20px;
    color: var(--faded-navy);
    border-color: white;
    background-color: white;
}

.account-post-table {
    width: 350px;
}

input[type=checkbox] {
    background-color: white;
}

.switch {
    height: 20px;
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 45%;
    position: relative;
    bottom: 5px;
    display: inline-block;
    box-shadow: 5px 4px 10px var(--lighter-navy);
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--lighter-navy);
    cursor: pointer;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: var(--faded-navy);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--success-green);
}

input:checked + .slider:before {
    -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
            transform: translateX(22px);
}

.slider.round {
    border-radius: 35px;
}

.slider.round:before {
    border-radius: 38%;
}

.not-opt {
    font-size: 18px;
    width: 150px;
}

.account-post-col__small {
    font-size: 16px;
    text-align: center;
    height: 25px;
    width: 75px;
    background-color: white;
    border-color: var(--faded-navy);
}

.account-post-col__large {
    font-size: 16px;
    text-align: center;
    height: 25px;
    width: 275px;
}





.account-not-subfield {
    height: 120px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.admin-dropdown {
    font-family: Henriette;
    font-size: 20px;
    color: var(--mocha);
    border-color: var(--light-mocha);
    background-color: var(--light-mocha);
    cursor: pointer;
}

.admin-switch {
        height: 20px;
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 45%;
    position: relative;
    bottom: 5px;
    display: inline-block;
    box-shadow: 5px 4px 10px var(--mocha);
}

.admin-slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--mocha);
    cursor: pointer;
}

.admin-slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 19px;
    left: 4px;
    bottom: 4px;
    background-color: var(--dark-mocha);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .admin-slider {
    background-color: var(--success-green);
}

input:checked + .admin-slider:before {
    -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
            transform: translateX(22px);
}

.admin-slider.round {
    border-radius: 35px;
}

.admin-slider:before {
    border-radius: 38%;
}

.admin-account-field {
    font-size: 18px;
    text-align: center;
    color: var(--burnt-mocha);
    height: 35px;
    width: 350px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-right: 45px;
    border: solid var(--mocha) 1px;
    border-radius: 20px;
    background-color: var(--mocha);
    float: right;
    display: inline-block;
    box-shadow: 3px 3px 10px var(--mocha);
    cursor: default;
}



.admin-account-subfield {
    height: 60px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.nav-tool {
    width: 110px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
